{{#each characters as |character| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/character/{{character.id}}">{{character.name}}</a>
    </h2>
    <p>{{character.gender}}</p>
    <p>{{character.race}}</p>
    <p>{{character.class}}</p>

    <div class="col-md-7">
        <p>{{character.description}}</p>
        {{!-- <p>{{character.background}}</p>
        <p>{{character.look}}</p>
        <p>{{character.personality}}</p> --}}
    </div>

    {{!-- <p>{{character.strength}}</p>
    <p>{{character.dexterity}}</p>
    <p>{{character.constitution}}</p>
    <p>{{character.intelligence}}</p>
    <p>{{character.wisdom}}</p>
    <p>{{character.charisma}}</p> --}}

    <p>Created by {{character.user.name}} on {{format_date character.date_created}}</p>
  </div>

</div>
{{/each}}
